/*start!*/


/*reset*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	/*border:0;*/
	/*outline:0;*/
	font-size: 100%;
	/*vertical-align:baseline;
	background:transparent;
	*/
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
i {
	font-weight: 100;
	font-style: normal;
}

ul,
ol,
li {
	list-style-type: none;
}

.lf {
	float: left;
}

.fr {
	float: right;
}

a {
	color: #666;
	text-decoration: none;
	outline: 0;
}

a:hover {
	text-decoration: none;
}

button,
input {
	outline: none;
}

html {
	text-align: center;
}

body {
	background: #000;
	color: #fff;
	/*width: 100%;*/
	/*height: 10.8rem;*/
	width: 100%;
	min-width: 1200px;
	font-family: Source Han Sans, Helvetica, arial;
	font-size: 0.12rem;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	background: url(../img/background.jpg) no-repeat;
	background-size: 100%;
}


/*reset*/


/*导航模块*/


/*公共*/

.content,
.to,
.left,
.right,
#table,
.thead,
.tbody {
	display: -webkit-flex;
	/* Safari */
	display: flex;
}

.content,
.left,
.right,
#table {
	flex-direction: column;
}

.thead,
.tbody {
	flex-direction: row;
}

.lefta,
.leftb {
	width: 3.2rem;
}

.lefta,
.righta {
	height: 4.7rem;
}

.rightba.rightb {
	width: 5rem;
}

.leftb,
.rightb {
	height:3.5rem;
}


/*小块标题*/

.biaoti {
	height: 0.35rem;
	line-height: 0.35rem;
	color: #fff;
	font-size: 0.18rem;
	text-align: center;
}


/*1.世界地图合作伙伴地标-*/


/*.all{
	background: url(../img/b-con.png) 100% 100% no-repeat;
	width: 100%;
	height: 10rem;
}*/


.worldmap-con2{
	width: 100%;
	height: 10.8rem;
	/*	border: 3px solid red;*/
}
.worldmap-con {
	margin: auto;
	width: 15rem;
	height: 8.2rem;
}
/*.worldmap2 {
	width: 100%;	
	background: url(../img/background.jpg) no-repeat;
	background-size: 100%;

}
.worldmap2 img {
	width: 65%;
	margin-right: 2.1rem;
}*/


/*.worldmap-con2{	
	 width: 15rem;
    background: url(../img/worldMap2.png) 100% 100% no-repeat;
    height: 9rem;
    margin: 0 auto;
    position: absolute;
    top: 0rem;
    right: 5.4rem;
    z-index: 50;
}*/


/*2.内容*/

.content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 600;
}

.content .to div {
	/*border: 1px solid yellow;*/
}


/*2.1标题*/

header {
	width: 100%;
}

header h2 {
	height: 1.75rem;
	line-height: 1.75rem;
	margin: 0;
}


/*2.2左边栏*/

.to {
	justify-content: space-between;
}

.left {
	width: 3.3rem;
	height: 8.8rem;
	margin-left: 0.5rem;
	flex-direction: column;
	color: #fff;
}

.lefta {
	background: url(../img/lefta-bg.png) no-repeat;
	background-size: 100%;
	margin-top: 0.18rem;
}

.lefta h2,
.lefta h3 {
	width: 100%;
	margin: 0.1rem 0.3rem;
	text-align: left;
	height: 0.24rem;
	line-height: 0.24rem;
}

.lefta h2 {
	font-size: 0.14rem;
	color: #bbbcc1;
}

#zhuangtai {
	margin-top: 0.3rem;
}

#shuliang {
	margin-top: 0.15rem;
}

#yingpianbaio,
#paipianbiao {
	margin: 0.03rem 0.3rem;
}

#yuancheng {
	margin-top: 0rem;
}

.lefta h3 {
	font-size: 0.16rem;
}

.lefta h3:first-child {
	padding-top: 0.3rem;
}

.circlec {
	display: inline-block;
	width: 0.1rem;
	height: 0.1rem;
	line-height: 0.1rem;
	border-radius: 0.05rem;
	background: #ff1d00;
	margin: 13px 0 0 10px;
}

.leftb {
	background: url(../img/leftb-bg.png) no-repeat;
	background-size: 100%;
	margin-top: 0.2rem;
}

.swiper-container {
	width: 85%;
	margin: 0 auto;
	height: 2.5rem;
}

.swiper-slide .top {
	font-size: 0.18rem;
	font-weight: 500;
	margin-top: 0.15rem;
	margin-bottom: 0.08rem;
}

.swiper-slide .top,
.swiper-slide .con {
	width: 2.73rem;
	height: 0.25rem;
	line-height: 0.25rem;
	text-align: center;
}

.swiper-slide>img {
	width: 2.72rem;
	height: 1.5rem;
	vertical-align: center;
}


/*2.2右边栏*/

.right {
	width: 5.2rem;
	height: 8.2rem;
	margin-right: 0.5rem;
	flex-direction: column;
}

.righta {
	height: 5.1rem;
	background: url(../img/righta-bg.png) no-repeat;
	background-size: 100%;
}

.rightb {
	margin-top: 0.35rem;
	background: url(../img/rightb-bg.png) no-repeat;
	background-size: 100%;
}


/*表格*/

#table {
	width: 99%;
	margin: 0 auto;
	margin-top: 0.2rem;
	height: 4.2rem;
	text-align: center;
	color: #fff;
	font-size: 0.15rem;
}

#table div {
	height: 0.45rem;
	line-height: 0.45rem;
}

.thead {
	color: #5bb4e5;
	background-color: #092650;
}

.tbody>div:nth-child(1),
.thead>div:nth-child(1),
.tbody>div:nth-child(2),
.thead>div:nth-child(2),
.tbody>div:nth-child(3),
.thead>div:nth-child(3) {
	width: 13%;
}

.tbody>div:nth-child(4),
.thead>div:nth-child(4),
.tbody>div:nth-child(5),
.thead>div:nth-child(5),
.tbody>div:nth-child(6),
.thead>div:nth-child(6) {
	width: 20%;
}

.tbody:nth-child(odd) {
	background: #091637;
}


/*柱状图*/

.piaofang {
	width: 100%;
	height: 3.8rem;
	float: left;
}


/*end!*/